[run]
branch = True
source = .
relative_files = True

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:

ignore_errors = True 

skip_empty = True

[xml]
output = coverage.xml